.b-footer {
  @include flex(false, false, center);
  flex-shrink: 0;
  background-color: $colorHeader;
  border-top-left-radius: $rounded30;
  border-top-right-radius: $rounded30;
  color: $colorWhite;

  span, p, a {
    color: $colorWhite;
  }

  &__wrap {
    @include flex(false, false, space-between);
    @extend %paddingYPageOptions;
    gap: $m15;
    width: $full;
    max-width: 1290px;
    padding-top: $m40;
    padding-bottom: $m40;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo {
    @include flex(false, center);
    gap: $m10;

    &-wrap {
      max-width: $m80;
      aspect-ratio: 80/73;
    }

    &-icon {
      @extend %imgDefaultStyles;
    }
  }

  &__title {
    font-weight: $textBold;
    text-transform: uppercase;

    &-wrap {
      @include flex(column);
      gap: $m10;
      max-width: 209px;
    }
  }

  &__copyright {
    font-size: $textTiny;
  }

  &__contact {
    @include flex(column);
    gap: $m15;
    max-width: 360px;

    &-icon {
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }

      &_social {
        fill: $colorWhite;
        margin-left: $m5;
        width: $m35;
        height: $m35;

        svg {
          width: $m35;
          height: $m35;
        }

        &:hover,
        &:active {
          fill: $colorBG;
        }
      }
    }

    &-item {
      @include flex(false);
      gap: $m10;

      &_link {

        &:hover,
        &:active {

          .b-footer {

            &__contact-label {
              color: $colorSecondary;
            }
          }
        }
      }

      &_social {
        align-items: center;
      }
    }

    &-label {
      font-weight: $textSemiBold;
      font-size: $textNormal;
      margin-top: 2px;

      &_description {
        font-weight: $textDefault;
      }

      &_social {
        margin-top: 0;
      }
    }
  }
}