.b-datepicker {

  &.el-input {
    width: $full;
    height: $m55;

    &.is-disabled {

      .el-input {

        &__wrapper {
          box-shadow: none;
          border-color: transparent;
        }

        &__inner {
          color: $colorPrimaryText;

          &::placeholder {
            color: $colorPrimaryText;
            font-weight: $textDefault;
          }
        }
      }
    }
  }

  .el-input {

    &__wrapper {
      @extend %inputWrapperOptions;
    }

    &__inner {
      @extend %inputInnerOptions;
      height: auto;
    }
  }
}