.b-partners {

  &__title {
    margin-bottom: $m30;
  }

  &__description {
    font-size: $textRegular;
    margin-bottom: $m25;
    max-width: 850px;
  }

  &__list {
    @include grid(4, false, $m30);
  }

  &__item {
    cursor: pointer;
    background-image: var(--background-partner);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    width: $full;
    aspect-ratio: 300/160;

    &:hover,
    &:active {
      background-image: var(--background-partner-active);
    }
  }
}