// Цвета
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorPrimary: #0B5BC3;
$colorHover: #004298;
$colorHeader: #00204A;
$colorPrimaryText: #697F9B;
$colorLight: #EDF2F8;
$colorSecondary: #2885FF;
$colorBG: #D3E6FF;
$colorSecondaryText: #3C5370;
$colorSuccess: #009A5C;
$colorError: #D03147;