// Наследуемые стили
%headerDefaultOptions {
  font-weight: $textBold;
  line-height: $leadingTited;
  color: $colorHeader;
}

%textDefaultOptions {
  font-size: $textRegular;
  font-weight: $textDefault;
  line-height: $leadingTited;
  color: $colorPrimaryText;
}

%imgDefaultStyles {
  width: $full;
  height: $full;
  object-fit: cover;
}

%btnDefaultOptions {
  @include flex(false, center, center);
  padding: 18px $m35;
  border-radius: $rounded30;
  border-color: $colorPrimary;
  background-color: $colorPrimary;
  color: $colorWhite;
  font-weight: $textBold;

  &:hover,
  &:active {
    background-color: $colorHover;
    color: $colorWhite;
  }

  @include screen(sml) {
    padding: 13px $m25;
  }
}

%paddingYPageOptions {
  padding-left: $m32;
  padding-right: $m32;

  @include screen(sml) {
    padding-left: $m20;
    padding-right: $m20;
  }
}

%pageContainerOptions {
  width: $full;
  box-sizing: border-box;
  max-width: 1354px;
}

%simpleCardOptions {
  @include flex(column);
  padding: $m25 $m30;
  background-color: $colorBG2;
  border: 1px solid $colorBG;
  border-radius: $rounded25;

  @include screen(md) {
    padding: $m25 $m20;
    border-radius: $rounded20;
  }
}