// Наследуемые стили
%headerDefaultOptions {
  font-weight: $textBold;
  line-height: $leadingTited;
  color: $colorHeader;
}

%textDefaultOptions {
  font-size: $textRegular;
  font-weight: $textDefault;
  line-height: $leadingTited;
  color: $colorPrimaryText;
}

%imgDefaultStyles {
  width: $full;
  height: $full;
  object-fit: cover;
}

%btnDefaultOptions {
  @include flex(false, center, center);
  padding: 18px $m35;
  border-radius: $rounded30;
  background-color: $colorPrimary;
  color: $colorWhite;
  font-weight: $textBold;

  &:hover,
  &:active {
    background-color: $colorHover;
    color: $colorWhite;
  }

  @include screen(sml) {
    padding: 13px $m25;
  }
}

%paddingYPageOptions {
  padding-left: $m32;
  padding-right: $m32;

  @media (max-width: $sml) {
    padding-left: $m20;
    padding-right: $m20;
  }
}