// Размеры текста
$textTinyLittle: 10px;
$textTiny: 12px;
$textRegular: 14px;
$textNormal: 16px;
$textBase: 20px;
$textLarge: 24px;
$textHuge: 28px;

// Толщина текста
$textDefault: 400;
$textSemiBold: 600;
$textBold: 700;

// Пространство между строками
$leadingSmall: 1.1;
$leadingTited: 1.2;
