.b-button,
.el-button.b-button {
  @extend %btnDefaultOptions;

  &_primary {
    text-transform: uppercase;
  }

  &_small {
    padding: $m10 $m15;
    font-size: $textRegular;
    border-radius: $rounded15;
  }

  &_disabled {
    opacity: 0.6;
    cursor: none;

    &:hover,
    &:active {
      background-color: $colorPrimary;
    }
  }
}