@include screen(lg) {
  .b-section {

    &_last {
      padding-bottom: $m45;
    }
  }
}

@include screen(sml) {
  .b-section {

    &_p-full {
      padding-top: $m70;
      padding-bottom: $m70;
    }

    &_pt {
      padding-top: $m70;
    }

    &_pb {
      padding-bottom: $m70;
    }

    &__title {

      &_pb_30-full {
        padding-bottom: $m20;
      }
    }
  }
}