.b-section {

  &_p-full {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &_pt {
    padding-top: 120px;
  }

  &_pb {
    padding-bottom: 120px;
  }

  &_pb_half {
    padding-bottom: $m70;
  }

  &__top {
    padding-bottom: $m25;

    &_pt_15 {
      padding-top: $m15;
    }
  }

  &__title {
    max-width: 850px;

    &_pb_30-full {
      padding-top: $m30;
      padding-bottom: $m30;
    }
  }

  &__description {
    margin-bottom: $m25;
    max-width: 850px;

    &_mb-35 {
      margin-bottom: $m35;
    }

    &_mb-30 {
      margin-bottom: $m30;
    }

    &_mb-15 {
      margin-bottom: $m15;
    }

    &_text-normal {
      font-size: $textNormal;
      max-width: none;
    }
  }

  &__article {

    p, span, a, li {
      font-size: $textNormal;
    }

    li {

      &:before {
        margin-left: $m5;
        margin-right: $m5;
        font-size: $textBase;
      }
    }
  }
}